@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

html, body {
     height: 100%;
}
body {
     font-family: 'Montserrat', sans-serif;
     background: url(../img/bg.jpg) no-repeat center center fixed;
     -webkit-background-size: cover;
        -moz-background-size: cover;
          -o-background-size: cover;
             background-size: cover;
}
body {
     margin: 0 auto;
}

.height-100 {
     height: 100%;
}

.bg-dark-alpha {
     background-color: rgba(0,0,0,0.8);
}
.bg-light-alpha {
     background-color: rgba(255,255,255,0.2);
}

.login-form {
     width: 500px;
     border: 2px solid rgba(0, 0, 0, 0.8);
}

.radioSize {
     height: 20px !important;
     margin-left: 10px !important;
     width: 20px !important;
}

.navBar {
     display: flex;
     justify-content: space-between;
     height: 5em;
     align-items: center;
     border: #dadada solid 1px;
     border-bottom: none;
     flex-wrap: wrap;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navLink {
     color: black;
     text-decoration: none;
     display: flex;
     list-style: none;
     margin: 0;
     padding: 0;
     height: inherit;
 }

.navList {
     list-style: none;
     align-items: center;
     margin: 0;
     padding: 0;
     display: flex;
     height: inherit;
}

.moviesList {
     margin-left: 2.5em;
}

.navItem {
     padding: 1em;
}

.indexTitle {
     padding-left: 1em;
     text-align: center;
}

.movieButton {
     padding: 0;
     border: none;
     margin: 1em;
     height: 300px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



 .table-wrapper {
     width: 100%;
     margin: 30px auto;
     background: #fff;
     padding: 20px;	
     box-shadow: 0 1px 1px rgba(0,0,0,.05);
 }
 .table-title {
     padding-bottom: 10px;
     margin: 0 0 10px;
 }
 .table-title h2 {
     margin: 6px 0 0;
     font-size: 22px;
 }
 .table-title .add-new {
     float: right;
     height: 30px;
     font-weight: bold;
     font-size: 12px;
     text-shadow: none;
     min-width: 100px;
     border-radius: 50px;
     line-height: 13px;
 }
 .table-title .add-new i {
     margin-right: 4px;
 }
 table.table {
     table-layout: fixed;
 }
 table.table tr th, table.table tr td {
     border-color: #e9e9e9;
 }
 table.table th i {
     font-size: 13px;
     margin: 0 5px;
     cursor: pointer;
 }
 table.table th:last-child {
     width: 100px;
 }
 table.table td a {
     cursor: pointer;
     display: inline-block;
     margin: 0 5px;
     min-width: 24px;
 }    
 table.table td a.add {
     color: #27C46B;
 }
 table.table td a.edit {
     color: #FFC107;
 }
 table.table td a.delete {
     color: #E34724;
 }
 table.table td i {
     font-size: 19px;
 }
 table.table td a.add i {
     font-size: 24px;
     margin-right: -1px;
     position: relative;
     top: 3px;
 }    
 table.table .form-control {
     height: 32px;
     line-height: 32px;
     box-shadow: none;
     border-radius: 2px;
 }
 table.table .form-control.error {
     border-color: #f50000;
 }
 table.table td .add {
     display: none;
 }

